{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="mx-6 bg-red-500">
		<h1 class="text-4xl font-medium my-10 text-center">Bienvenue dans BTP Task Manager</h1>
	</div>
{% endblock %}
